*\~
*.pyc
*.swp
*.log
/__pycache__/
/conf/*
!/conf/*.dist
webapp.wsgi
/data/conf/*
!/data/conf/-default.conf
/data/arch/*
!/data/arch/.keep-me
/data/reqs/*
!/data/reqs/.keep-me
/data/serial/*
!/data/serial/.keep-me
/data/sessions/*
!/data/sessions/.keep-me
/data/statements/*
!/data/statements/.keep-me
/data/tmp/*
!/data/tmp/.keep-me
/static/i/*-logo.png
/bin/*
!/bin/purge.sh-dist
