<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/adm.css" type="text/css" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>АДМИНКА / Пользователи / Lorem ipsum</title>
	</head>
	<body>
		<div id="header">
			<p>{{ session.user.name }} ({{ session.user.email }})</p>
			<ul>
				<li><a href="/_adm/">Главная</a></li>
				{% if session.user.priv == 1 %}
				<li"><a href="/_adm/r">Регионы</a></li>
				<li>Администраторы и координаторы</li>
				{% endif %}
				<li><a href="/_adm/t">Шаблоны запросов</a></li>
				<li><a href="/_adm/l">Выход</a></li>
			</ul>
		</div>
		<hr/>
		<div id="content">
		<div>
			<ul>
				<li>любой добавленный пользователь становится координатором выбранного региона</li>
				<li>если пользователя "повысить", он станет администратором и будет видеть все шаблоны и вообще всё</li>
				<li>если пользователя "понизить", он становится опять только координатором</li>
				<li>нет никакого смысла в нескольких координаторах на регион, но сама возможность оставлена (чтобы не городить сложную систему смены координатора)</li>
			</ul>
			<table>
				<capture>Администраторы и координаторы</capture>
				{% for user in users %}
					<form action="" method="POST">
					<input type="hidden" name="userid" value="{{ user.id }}"/>
					<tr class="line{{ loop.cycle('odd', 'even') }}">
						<td> {{ user.name }}</td><td> {{ user.email }}</td>
						{% if user.priv==1 %}
						<td> Администратор </td>
						{% else %}
						<td> {{user.region}} </td>
						{% endif %}
						{% if user.valid==1 %}
						<td> подтверждён </td>
						{% else %}
						<td>  не проверен </td>
						{% endif %}
						{% if user.lock==1 %}
						<td> заблокирован </td>
						{% else %}
						<td> </td>
						{% endif %}
						<td><input type="submit" name="delete" value="Удалить" class="button"/></td>
						{% if user.priv==1 %}
						<td><input type="submit" name="down" value="Понизить" class="button"/></td>
						{% else %}
						<td><input type="submit" name="up" value="Повысить" class="button"/></td>
						{% endif %}
						{% if user.lock==1 %}
						<td><input type="submit" name="unlock" value="Разблокировать"  class="button"/></td>
						{% else %}
						<td><input type="submit" name="lock" value="Заблокировать"  class="button"/></td>
						{% endif %}
						<td><input type="submit" name="reset" value="Сбросить"  class="button"/></td>
					</tr>
					</form>
				{% endfor %}
			</table>
		</div>
		<hr/>
		<div>
			<form action="" method="POST">
				<div>
					<label>Имя Фамилия нового редактора</label>
					{% if error.name is defined %}
					{% if error.name == 'empty' %}
					<div class="errormsg">не заполнено имя</div>
					{% elif error.name == 'invalid' %}
					<div class="errormsg">неверные символы в имени</div>
					{% endif %}
					{% endif %}
					<input class="field" name="name" size="30" value="{{ name }}"/>
				</div>
				<div>
					<label>email</label>
					{% if error.email is defined %}
					{% if error.email == 'empty' %}
					<div class="errormsg">не заполнен email</div>
					{% elif error.email == 'invalid' %}
					<div class="errormsg">неверные символы в email</div>
					{% elif error.email == 'exist' %}
					<div class="errormsg">такой email уже зарегистрирован</div>
					{% endif %}
					{% endif %}
					<input class="field" name="email" size="30" value="{{ email }}"/>
				</div>
				<div>
					<label>Регион</label>
					{% if error.region is defined %}
					<div class="errormsg">неверный регион</div>
					{% endif %}
					<select name="region">
					{% for fulluri, region in regions.iteritems() %}
						<option value="{{ region.id }}">{{ region.name }}</option>
					{% endfor %}
					</select>
				</div>
				<div>
					<label>&nbsp;</label>
					<input type="submit" value="Добавить" title="Добавить"/>
				</div>
			</form>
		</div>
		</div>
	</body>
</html>
