<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/adm.css" type="text/css" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>Напоминание пароля</title>
	</head>
	<body>
		<div class="main">
			<form action="" method="POST">
				<table class="form">
				<tr></td>
					<label>Логин</label>
					<input class="field" name="login" style="width:100%" value="{{ login }}"/>
				</td></tr>
    				<tr><td>
					<label>&nbsp;</label>
					<input type="submit" name="sent" value="Отправить" />
				</td></tr>
				</table>
			</form>
		</div>
	</body>
</html>
