<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/adm.css" type="text/css" />
		<title>Новый пароль</title>
	</head>
	<body>
		<div>Вы {{ session.user.name }} ({{ session.user.email }})</div>
		<div>
			<form action="/_adm" method="POST">
				<div>
					<label>Новый Пароль</label>
					{% if error.password is defined %}
					{% if error.password == 'missmatch' %}
					<div class="errormsg">пароли не совпадают</div>
					{% endif %}
					{% endif %}
					<input class="field" type="password" name="password" size="30" />
				</div>
				<div>
					<label>Повторите пароль</label>
					<input class="field" type="password" name="password2" size="30" />
				</div>
				<div>
					<label>&nbsp;</label>
					<input type="submit" value="Сохранить" name="save" />
				</div>
			</form>
		</div>
	</body>
</html>
