html, body {
	margin: 0 auto;
	padding: 0px;
	border: 0px;
	overflow: auto;
}

body {
	color: #000;
	background: #fff;
	width: 90%;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
}

div.errormsg {
	text-align: left;
	margin: 0 0 0 auto;
	color: red;
	font-size: 10pt;
}

table {
	width: 100%;
	border: 0;
	border-spacing: 0;
}

table.form {
	width: 100%;
	margin: 0 auto;
}

td {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

td#button {
	text-align: center;
}

a, a:link {
	color: #00A0C8;
}

a:hover {
	color: #BD2025;
}


label {
	display: block;
	text-align: left;
}

div#header {
	width:100%;
	margin: 10px 0;
	font-size: 12pt;
	text-align: left;
}

#header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#header li {
	display: inline;
	padding: 0 1em;
}

#header #selected {
	font-weight: bold;
	background: #eeeeff;
}

#header p {
	padding: 0 1em;
	margin: 0;
}

div#content {
	width:100%;
	font-size: 12pt;
	margin: 10px 0;
}

.bold {
	font-weight: bold;
}

.lineodd {
	background: #eeeeff;
}

.button {
	background: #00a33d;
	font-size: 12pt;
	color: #eeeeee;
	border: 0;
	height: 30px;
	width: auto;
	margin: 0 5px 0 5px;
	padding: 0 8px 0 8px;
	overflow: hidden;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}

.button:hover {
	background: #bf0000;
}

pre {
	text-align: left;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
